$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1199px;

$bg-color: antiquewhite;
$main-grey: #818A87;
$main-orange: #FFCB52;
$hover-orange: #CC9C20;
$invalid-orange: orangered;
$main-white: white;
$main-brown: #C5B593;
$main-blue: #b3b2af;